.reset-password-container {
    width: 100%;
    height: 100vh;
    position: relative;
    /* allows absolute positioning of logo */
    display: flex;
    justify-content: center;
    align-items: center;
    /* center the form */
    background: linear-gradient(90deg, rgb(153, 180, 101) 0%, rgb(110, 110, 163) 35%, rgba(0, 212, 255, 1) 100%);
    /* Ensure background color is applied to entire screen */
}

.logo-reset-password {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-reset-password img {
    width: 120px;
    cursor: pointer;
}

.reset-password-form-conatiner {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.forgot-password-form h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.forgot-password-form p {
    margin-bottom: 15px;
    text-align: center;
    color: aliceblue;
    font-weight: 300;

}

.forgot-password-detail {
    background: #5a5858;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.forgot-password-detail input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgb(248, 248, 248);
    font-weight: 300;
}

.forgot-password-detail img {
    width: 25px;

}

.forgot-password-form {
    width: 100%;
    background: #312e2e;
    padding: 25px;
    border-radius: 10px;

}
.forgot-password-btn{
    width: 100%;
    padding: 8px;
    color: rgb(44, 44, 44);
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 500;
}