.login {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(247, 245, 245);
    background: #002415;
    background: linear-gradient(90deg, rgb(153, 180, 101) 0%, rgb(110, 110, 163) 35%, rgba(0, 212, 255, 1) 100%);
    /* Ensure background color is applied to entire screen */
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgb(26, 24, 24);
    border-radius: 15px;
}

form {
    width: 80%;
    gap: 15px;
}

.login-logo {
    position: absolute;
    left: 5;
    top: 5;
    width: 50px;
    cursor: pointer;
}

.title-form {
    padding: 10px;
    border-radius: 35px;
    width: 100%;
    color: aliceblue;
}

.title-form h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #885fb4, #2575fc);
    /* Apply the gradient to background */
    -webkit-background-clip: text;
    /* Clip the background to the text */
    color: transparent;
    /* Set the text color to transparent so the gradient shows */
}


.title-form p {
    text-align: center;
    font-size: 15px;
    color: grey;
    margin-bottom: 10px;
}

.user-detail {
    background: transparent;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
    background-color: rgb(65, 64, 64);
    border-radius: 30px;
}

.user-detail input{
    background: transparent;
    outline: none;
    border: none;
    color: aliceblue;
    width: 100%;
    font-size: 15px;
}

.forget-password {
    margin-bottom: 15px;
    cursor: pointer;
    color: rgb(127, 160, 189);
}

.login-signup-btn {
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    margin-bottom: 25px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.login-signup-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}


.already-account-login {
    margin-bottom: 15px;
    cursor: pointer;
    color: rgb(127, 160, 189);
    text-align: start;
    width: 80%;
}

.already-account-login span {
    color: rgb(80, 84, 143);
    text-decoration: underline;
}

@media (min-width: 300px) and (max-width: 768px) { 
  .login-container {
    width: 90%;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { 
  .login-container {
    width: 80%;
    padding: 10px;
    height: 500px;
  }
  form{
    gap: 30px;
  }
  .user-detail input{
    font-size: 22px;
    padding: 10px;
  }
  .user-detail img{
    width: 50px;
   padding: 10px;
  }
  .login-signup-btn{
    
    font-size: 30px;
  }
}