.header {
    width: 100%;
    padding: 10px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.header h1 {
    display: flex;
}

.header img {
    width: 200px;
}

.header h1 img {
    width: 50px;
}
.header button{
    width: 150px;
    padding: 10px;
    border: 1px solid grey;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}
.header p{
    font-size: 19px;
}