.navbar{
    width: 100%;
    display: flex;
    padding: 25px 35px;
    justify-content: space-between;
}
.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.navbar-btn{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border:1px solid grey ;
    border-radius: 25px;
    font-size: 18px;
    padding: 10px;
    width: 110px;
    cursor: pointer;
}
.login-letter-options {
    position: absolute;
    display: none;
    top: 60px;
    right: 10px;
    z-index: 10;
    color: black;
    padding-top: 10px;
    cursor: pointer;
    user-select: none;
}

.login-wrapper:hover .login-letter-options {
    display: block;
}
.login-letter-options ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: rgb(99, 99, 99);
    font-weight: 400;
    gap: 15px;
}
.login-letter-options ul li{
    cursor: pointer;
    padding-right: 10px;
}
.verify-email-li{
    padding: 15px;
}