.navbar{
    width: 100%;
    display: flex;
    padding: 25px 35px;
    justify-content: space-between;
}
.navbar-btn{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border:1px solid grey ;
    border-radius: 25px;
    font-size: 18px;
    padding: 10px;
    width: 110px;
    cursor: pointer;
}