.email-verify {
    width: 100%;
    min-height: 100vh;
    
    background: linear-gradient(90deg, rgb(153, 180, 101) 0%, rgb(110, 110, 163) 35%, rgba(0, 212, 255, 1) 100%);

}

.verify-logo {
    width: 120px;
    margin: 20px 0;
    cursor: pointer;
}

.email-verify-container {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-verify-form {
    width: 90%;
    /* mobile responsive */
    max-width: 400px;
    background: #303332;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.email-verify-form h1 {
    color: aliceblue;
}

.email-verify-form p {
    color: aliceblue;
    font-size: 15px;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.otp-inputs input {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #666867;
    ;
    color: aliceblue;
    margin-top: 15px;
}

.verify-email-btn {
    width: 100%;
    padding: 15px;
    font-weight: 500;
    background: #2f67c2;
    background: linear-gradient(90deg, rgb(61, 74, 95) 0%, rgb(59, 59, 94) 35%, rgba(0, 212, 255, 1) 100%);

}

@media (min-width: 300px) and (max-width: 768px) {
    .email-verify {
        width: 100%;
    }
    .email-verify-form {
        width: 95%;
    }
}